.idea
.vscode
node_modules
platforms
hooks
package-lock.json
.DS_Store
npm-debug.log.*
demo*/app/**/*.js
demo*/typings
*.framework
**/*.js.map
src/**/*.js
plugin/**/*.js
plugin/**/*.d.ts
bin
build
Pods
!plugin/platforms
/plugin/platforms/android/*.aar
*.xcuserdatad
/plugin/README.md
plugin/**/*js.map
plugin/**/*js
plugin/*.ngsummary.json
plugin/*.metadata.json
pnpm-lock.yaml

packages/**/angular
packages/**/*.js
packages/**/*.ts
packages/**/*.js.map
packages/**/*.metadata.json
packages/**/*.ngsummary.json
!packages/**/angular/package.json
!packages/**/platforms
